:root {
  --accent-color: #2f4f4f;
  --max-width-var: 1150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: 0.2s;
}

h1 {
  font-size: 4rem;
}

a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
}
p:empty {
  display: none;
}

img {
  width: 100%;
  height: 100%;
}
.accent {
  color: var(--accent-color);
}
/**********************************************************************************************************/
.app {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  padding-top: 10rem;
  max-width: var(--max-width-var);
  min-width: var(--max-width-var);
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.card {
  border: 2px solid var(--accent-color);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.card:hover h2,
.card:hover p {
  color: white;
}
.card:hover {
  background-color: var(--accent-color);
}
.card p {
  color: var(--accent-color);
}
.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.cta-button {
  background-color: var(--accent-color);
  color: white;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.button-container {
  margin-top: 3rem;
  align-self: flex-start;
}

.tech-tag {
  border-radius: 1rem;
  padding: 0.5rem;
  margin: -0.5rem 0;
  border: 2px solid var(--accent-color);
  background-color: white;
}

.card:hover .tech-tag {
  color: var(--accent-color);
}

.tech-stack {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.button-container:hover,
.logo-container:hover,
.navigation .name:hover {
  transform: scale(1.05);
}

/**********************************************************************************************************/
.navigation {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  backdrop-filter: blur(2rem);
  background-color: rgb(255, 255, 255, 0);
  display: flex;
  justify-content: center;
}

.navbar-container {
  width: var(--max-width-var);
  display: flex;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  align-items: center;
}

.navigation .name {
  font-size: 2.25rem;
}

.navigation .navbar {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar a:hover {
  border-bottom: 2px solid var(--accent-color);
  padding-bottom: 0.5rem;
  color: var(--accent-color);
}

/**********************************************************************************************************/
.home {
  min-height: 100vh;
  gap: 6rem;
  padding-bottom: 10rem;
}

.home .text-container,
.home .img-container {
  border: 1px solid white;
  flex: 1;
}

.home .img-container {
  border-radius: 50%;
}

.headshot {
  border-radius: 50%;
}
/**********************************************************************************************************/
.about {
  gap: 6rem;
}

.about .card-container,
.about .text-container {
  border: 1px solid white;
  flex: 1;
}

.about-me-card {
  justify-content: space-between;
}

/**********************************************************************************************************/
.experience {
  flex-direction: column;
  gap: 3rem;
}

.info-card {
  max-width: var(--max-width-var);
}

.info-card .logo-container {
  height: 15rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 1rem;
  flex: none;
  border: 2px solid var(--accent-color);
  background-color: white;
}

.info-card .text-container {
  border: 1px transparent white;
  gap: 1.25rem;
}
.info-card h2 {
  font-size: 2rem;
}
.info-card .desc {
  text-align: justify;
}
/**********************************************************************************************************/
.projects {
  flex-direction: column;
  gap: 3rem;
}

/**********************************************************************************************************/
.skills {
  flex-direction: column;
  min-height: 100vh;
}

.skills .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 3rem;
}
.skill-card {
  flex-direction: column;
}

/**********************************************************************************************************/
.contact {
  flex-direction: column;
  padding-bottom: 5rem;
  gap: 2rem;
}

.contact .contact-icons {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
}

.contact .img-container {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.contact .img-container:hover {
  transform: scale(1.05);
}

.contact ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.contact .navbar {
  gap: 2rem;
}

.contact p {
  justify-content: center;
}

@media (max-width: 1200px) {
  :root {
    --max-width-var: 380px;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .home .img-container {
    height: 20rem;
    width: 20rem;
  }

  .navigation .navbar,
  .contact .navbar {
    display: none;
  }

  .navbar-container {
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .section {
    flex-direction: column;
  }
  .home {
    padding-top: 10rem;
  }

  .text-container {
    align-items: center;
    text-align: center;
  }

  .button-container {
    align-self: center;
  }
  

  .card-container {
    flex-direction: column;
  }
  .info-card {
    align-items: center;
    flex-direction: column;
  }

  .card {
    padding: 2rem 0.5rem;
  }

  .tech-tag {
    padding: 0.25rem;
    margin: -0.25rem 0;
  }

  .info-card .text-container {
    align-items: center;
  }

  .tech-tag {
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
  }
}
