* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: white;
  color: black;
}

.name {
  color: rgb(0, 0, 100);
}

/**********************************************************************************************************/
.navigation {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  backdrop-filter: blur(3rem);
  background-color: rgb(255, 255, 255, 0.5);
  padding: 2.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .name {
  font-size: 2.25rem;
}

.navigation ul {
  display: flex;
  list-style: none;
}

.navigation li {
  margin-left: 2rem;
}

.navigation a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
/**********************************************************************************************************/
.home {
  border: 1px solid white;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 10rem;
  gap: 6rem;
}

.home .intro,
.home .headshot-container {
  border: 1px solid white;
  flex: 1 1 50%;
}

.home .intro-buttons {
  margin-top: 3rem;
}

.home .headshot-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.home h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.home a {
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}

.home .headshot {
  width: 100%;
  border-radius: 50%;
}

/**********************************************************************************************************/
.about {
  border: 1px solid white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  gap: 6rem;
}

.about .info-container,
.about .about-title-text-button {
  border: 1px solid white;
  flex: 1 1 50%;
}

.about .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-card {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  margin: 1rem 0;
  align-items: center;
}

.about-card p {
  font-size: 1.5rem;
}

.about-card .tech {
  display: flex;
  align-items: center;
}

.about-card .tech p {
  border: 1px solid black;
  font-size: 1.5rem;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: -2rem 0 -2rem 0.5rem;
}

.about-title-text-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-title-text-button h1 {
  font-size: 4.25rem;
}

.about-title-text-button p {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.about-title-text-button a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-top: 1.5rem;
}
/**********************************************************************************************************/
.experience {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem;
}

.experience .experience-title {
  font-size: 4.25rem;
}

.experience .card-container {
  border: 1px solid white;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 3rem;
}

.experience-card {
  border: 1px solid black;
  display: flex;
  padding: 2rem;
  border-radius: 1rem;
  align-items: center;
  gap: 2rem;
}
.experience-card .logo-container {
  height: 15rem;
  width: 15rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}
.experience-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.experience-card h1 {
  font-size: 1.25rem;
}

/**********************************************************************************************************/
.projects {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 10rem;
}

.projects h1 {
  font-size: 4.25rem;
}

.projects .card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}

.projects-card {
  border: 1px solid black;
  display: flex;
  margin: 2rem 0;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  justify-content: space-between;
}

.projects-card h1 {
  font-size: 1.5rem;
}

.projects .card-container {
  border: 1px solid white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3rem;
  margin-top: 3rem;
}

.projects-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 1rem;
  align-items: center;
  gap: 2rem;
}
.projects-card .logo-container {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid black;
}
.projects-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.projects-card h1 {
  font-size: 1.25rem;
}
/**********************************************************************************************************/
.skills {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 10rem;
}

.skills h1 {
  font-size: 4.25rem;
}

.skills .card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;
}
.skill-card {
  border: 1px solid black;
  display: flex;
  margin: 2rem 0;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  justify-content: space-between;
}

.skill-card h1 {
  font-size: 1.5rem;
}
/**********************************************************************************************************/
.contact {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
}

.contact .icons {
  display: flex;
  justify-content: center;
  list-style: none;
}

.contact img {
  width: 2rem;
}

.contact .nav {
  display: flex;
  justify-content: center;
  list-style: none;
}
.contact a {
  color: black;
  text-decoration: none;
}

.contact p {
  justify-content: center;
}
